<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<div data-th-replace="template :: headers">
	</div>
</head>
<body>

	<div data-th-replace="template :: navbar">
	
	</div>


	<div class="container-fluid">
		<div id="content-wrapper">
			<h1 class="text-center" id="pageTitle">Log In Page</h1>
			<div id="form-wrapper"> 
				<form class="transactionForm" data-th-action="@{/login}" method="POST">
					  <div class="form-group row">
					    <label for="username" class="col-sm-2 col-form-label">Username:</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" name="username" id="username" placeholder="Insert Username here">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="password" class="col-sm-2 col-form-label">Password:</label>
					    <div class="col-lg-10">
					      <input type="password" class="form-control" name="password" id="password" placeholder="Insert Password here">
					    </div>
					  </div>
					  <div class="form-group row">
					    <div class="col-lg-10" id="btnRow">
					      <button type="submit" class="btn btn-inverse">Log In</button>
					    </div>
					  </div>

				</form>
			</div>
		</div>

	</div>	



<div data-th-replace="template :: scripts">
	
</div>
</body>
</html>